@keyframes flipHeads {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(720deg);
  }
}

@keyframes flipTails {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-720deg);
  }
}

.animate-flipHeads {
  animation: flipHeads 3s ease-in-out;
}

.animate-flipTails {
  animation: flipTails 3s ease-in-out;
}